{% extends 'household_base.html' %}

{% block material %}
<div class="p4">
  <div class="d-flex flex-md-row flex-column m-2">
    <div class="col-sm-12 col-md-7">
      {% if user.id == task.user.id %}
      <div class="m-4">
        <div class="form-group">
          <form method="POST">
            {% csrf_token %}
            {{ task_form.description }}
            <button class="btn btn-secondary">Edit</button>
          </form>
        </div>
      </div>
      {% else %}
      <p class="lead">You are not able to edit this as you are not the owner</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}