{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'food' %}">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'laundry' %}">Laundry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen' %}">Kitchen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bins' %}">Bins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'general' %}">General</a>
    </li>
  </ul>
</div>

<div class="m-4">
  <div class="d-flex flex-md-row flex-column m-2">
    <div class="col-sm-12 col-md-7">
      <p class="text-center"></p>

      <h4>Laundry Tasks</h4>
      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          {{ task_form.as_p }}
          <input type="submit" name="task_submit" value="Add" class="btn btn-secondary mb-4">
        </form>
      </div>
      {% if queryset %}

      <ul class="list-group m-4">
        {% for task in queryset %}
        <li class="list-group-item">{{ task.description }}</li>
        {% endfor %}
      </ul>

      {% else %}
      <p class="mt-3">You haven't added any tasks yet...</p>
      {% endif %}
    </div>

    <div class="col-sm-12 col-md-5 m-3">
      <p class="text-center"></p>

      <h4 class="mt-4">Have you thought about...</h4>
      <div class="form-group">
        <!-- <form method="POST">
          {% csrf_token %}
          {{ shopping_form.as_p }}
          <input type="submit" name="shopping_submit" value="Add" class="btn btn-secondary mb-4">
        </form>
      </div>
      {% if shopping_list %}
      <ul class="list-group m-4">
        {% for item in shopping_list %}
        <li class="list-group-item">{{ item.item }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="mt-3">Your considerations list is empty...</p>
      {% endif %} -->

        <ul class="list-group m-4">
          <li class="list-group-item">Bedsheets</li>
          <li class="list-group-item">Bath Towels</li>
          <li class="list-group-item">Tea Towels</li>
          <li class="list-group-item">Kids school uniforms/PE kits</li>

        </ul>
      </div>

    </div>
  </div>

  {% endif %}
  {% endblock %}