{% extends 'base.html' %}
{% block content %}

<div class="team-wrapper">

    <h1>Meet The TechTonic Titans</h1>

    <div class="team">

                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/james.png" alt="James">
                    </div>

                    <h3>James</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br> I take lots of pictures of buildings being constructed and
                        demolished in London.</p>
                    <br>
                    <p class="Github">Github:<br> https://github.com/broken-helix</p>
                    <p class="LinkedIn">LinkedIn: https://www.linkedin.com/in/james-d-evans/</p>


                </div>

                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/kate.jpg" alt="Kate">
                    </div>

                    <h3>Kate</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br> I'm a dedicated mum, and a budding software developer
                        championing female empowerment and advocating for women in STEM fields.<br> I'm deeply
                        passionate about projects centered on renewable energy and climate change.<br> Outside of my
                        tech bubble, my happy place is in the kitchen whipping up new recipes to feed the people I love
                    </p>
                    <br>
                    <p class="Github">Github:<br>https://github.com/llewellynksj</p>
                    <p class="LinkedIn">LinkedIn: https://www.linkedin.com/in/llewellynksj/</p>


                </div>

                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/douglas.png" alt="Douglas">
                    </div>

                    <h3>Douglas</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br> I enjoy gyming, playing music and messing about on the
                        computer.</p>
                    <br>
                    <p class="Github">Github:<br>https://github.com/douglas86</p>
                    <p class="LinkedIn">LinkedIn: www.linkedin.com/in/douglas-maxton-58134b170</p>


                </div>

                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/clemence.png" alt="Clemence">
                    </div>

                    <h3>Clemence</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br> New coding enthusiast with a creative background.<br> I
                        like meandering and looking sideways, often through the eyes of my children.<br> I love being by
                        the glistening sea with the sun high above it.</p>
                    <br>
                    <p class="Github">Github:<br>https://github.com/clemencehuang</p>
                    <p class="LinkedIn">LinkedIn: https://www.linkedin.com/in/cl%C3%A9mence-huang-869b8711/</p>


                </div>


                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/julia.png" alt="Julia">
                    </div>

                    <h3>Julia</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br> I'm an ex-secondary school science teacher who is new to
                        coding.<br> In my spare time, I love to go on outings with my daughter, bake, take photos and
                        read.</p>
                    <br>
                    <p class="Github">Github:<br>https://github.com/Julia-Karpa</p>
                    <p class="LinkedIn">LinkedIn: https://www.linkedin.com/in/julia-karpa-0b69b0304/</p>


                </div>


                <div class="team_member">

                    <div class="team_img">
                        <img src="/static/images/stef.png" alt="Stef">
                    </div>

                    <h3>Stef</h3>
                    <br>
                    <p class="about-me"><b>About Me:</b><br>I'm a full-stack software developer student who likes
                        listening to podcasts, being active by going to gym classes and hiking, thinking about the
                        chocolate she wants to eat but doesn't buy, reading before falling asleep and playing Super
                        Mario with her Nintendo switch.<br> She is also a freelance journalist and loves writing about
                        literature.</p>
                    <br>
                    <p class="Github">Github:<br>https://github.com/StefFrustagli </p>
                    <p class="LinkedIn">LinkedIn: www.linkedin.com/in/stefania-frustagli-junior-software-developer</p>


                </div>


    </div>

</div>
    

{% endblock content %}