asgiref==3.8.1
autobahn==23.6.2
Automat==22.10.0
cloudinary==1.40.0
constantly==23.10.4
dj-database-url==2.1.0
dj3-cloudinary-storage==0.0.6
Django==5.0.4
django-allauth==0.62.0
gunicorn==22.0.0
hyperlink==21.0.0
incremental==22.10.0
numpy==1.26.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==15.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pylance==0.10.15
pyOpenSSL==24.1.0
service-identity==24.1.0
sqlparse==0.5.0
Twisted==24.3.0
txaio==23.1.1
whitenoise==6.6.0
zope.interface==6.3
