/*header*/
.navbar {
    min-height: 80px;
}

/* HOME page */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Zen Kaku Gothic Antique";
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 99px;
background: #FFF;
min-height: 100vh;
}

header {
position: absolute;
width: 100%;
height: 90px;
flex-shrink: 0;
background: #B0D8EB;
}

.navbar-brand {
display: flex;
width: 112px;
height: 29px;
flex-direction: column;
justify-content: center;
color: #ffffff;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navbar-nav {
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* not sure this is still required
input {
visibility: hidden;
opacity: 0;
}
*/

.navbar-nav {
display: flex;
width: 1122px;
justify-content: flex-end;
align-items: flex-start;
gap: 30px;
}

.nav-item {
list-style-type: none;
overflow: hidden;
}

.nav-link {
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
list-style-type: none;
cursor: pointer;
}

#signup {
  display: flex;
  height: 20px;
  padding: 18px 20px;
  border-radius: 59px;
  background: #6FB0CF;
  align-items: center;
}

#login {
  display: flex;
  height: 20px;
  padding: 18px 36px;
  border-radius: 59px;
  background: #FFF;
  align-items: center;
  color: #7ABCDA;
  text-align: center;
}

main {
padding-top: 95px;
}

/* HOME page - Section 1 */

.home-section1 {
width: 100%;
height: 800px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(176, 216, 235, 0.70) 0%, #BDDAC2 24.5%, #EED5A5 43%, #EECA87 62.5%, rgba(248, 163, 123, 0.90) 82.5%, #FB8800 100%);
}

#section-h3 {
color: #ffffff;
text-align: center;
font-family: "Zen Kaku Gothic Antique";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 200px 350px 50px;
}

#home-section1 {
color: #ffffff;
text-align: center;
font-family: "Zen Kaku Gothic Antique";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 20px 395px 800px;
}

/* HOME page - Section 2 */

.home-section2 {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 99px;
}

#home-section2 {
display: flex;
color: #7ABCDA;
text-align: center;
font-family: "Zen Kaku Gothic Antique";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#card-h4 {
width: 231px;
color: #3D3D3D;
font-family: "Zen Kaku Gothic Antique";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 120%;
padding: 59px 145px 30px 30px;
}

.readmore {
color: #3D3D3D;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%;  
padding: 0px 30px;
}

.cards {
display: flex;
width: auto;
height: 470px;
text-align: center;
justify-content: center;
gap: 16px 17px;
flex-wrap: wrap;
}

.card-1 {
width: 290px;
height: 356px;
flex-shrink: 0;  
border-radius: 16px;
background: #B0D8EB;
}

.card-2 {
width: 290px;
height: 356px;
flex-shrink: 0;  
border-radius: 16px;
background: #EEDE87;
}

.card-3 {
width: 290px;
height: 356px;
flex-shrink: 0;  
border-radius: 16px;
background: #FECEC7;
}

.card-4 {
width: 290px;
height: 356px;
flex-shrink: 0;  
border-radius: 16px;
background: #BDDAC2;
}

/* HOME page - Section 3 */

.home-section3 {
display: flex;
width: 1440px;
padding: 110px 110px 72px 110px;
justify-content: center;
align-items: center;
background: #B0D8EB;
}

#home-section3 {
  width: 456px;
  color: #FFF;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.chart {
  width: 764px;
  height: 473px;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);
  background: #F5F5F5;
}

#chart-goals {
color: var(--Neutral-Colors-400, #9291A5);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Zen Kaku Gothic Antique";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
padding-left: 52px;
padding-top: 40px;
}

#chart-reward {
color: var(--Neutral-Colors-Black, #1E1B39);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Zen Kaku Gothic Antique";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 28px;
padding-left: 52px;
padding-top: 10px;
}

#piechart {
display: block;
width: 271px;
height: 271px;
flex-shrink: 0;
}

#countdown {
color: #1E1B39;
font-family: "Zen Kaku Gothic Antique";
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 52px;
}

/* HOME page - Footer */

footer {
display: flex;
justify-content: center;
align-items: center;
background: #B0D8EB;
}

#house-logo {
  display: block;
  width: 92px;
  height: 130px;
  background: url(<path-to-image>) / cover no-repeat;
}

.copyright {
display: flex;
width: 1240px;
padding: 24px 0px;
justify-content: space-between;
align-items: flex-start;
}

#copyright {
color: #FFF;
font-family: "Zen Kaku Gothic Antique";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/*Family Styles*/
.title {
    font-size: 5em;
    text-align: center;
    padding: 0.5em;
}

.tab_content {
    padding: 3em;
}

/* Household Styles */

/* Page divider */
/* Code adapted from Isabel C CodePen 'Pure CSS Horizontal Divider With Star Icon':
    https://codepen.io/isabelc/pen/MmrJgx */

.divider {
    margin: 40px auto;
    width: 700px;
    max-width: 100%;
    position: relative;
}

.divider-inner {
    overflow: hidden;
    height: 20px;
}

.divider-inner:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #F35D17;
}

.divider span {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #F35D17;
    background: #fff;
}

.divider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #F35D17;
    text-align: center;
    line-height: 40px;
    color: #F35D17;
    font-size: 30px;
}