{% extends 'base.html' %}
{% block content %}

    {% for n in context.name %}
        <h1>{{ n.title }}</h1>
    {% endfor %}

    <div class="tab">
        <button class="tablinks" onclick="openSection(event, 'Child')" id="defaultOpen">Child</button>
    </div>

    <div id="Child" class="tabcontent">
        <h3>Add Child</h3>
        <div>
            <div class="d-flex flex-row m-2">
                <div class="col-8">
                    <h4>Meal Ideas</h4>
                    <div class="form-group">
                        <form method="POST" action="{% url 'family:family_create' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}