{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item {% if active_tab == 'food' %}active{% endif %}">
      <a class="nav-link" href="{% url 'food' %}">Food</a>
    </li>
    <li class="nav-item {% if active_tab == 'laundry' %}active{% endif %}">
      <a class="nav-link" href="{% url 'laundry' %}">Laundry</a>
    </li>
    <li class="nav-item {% if active_tab == 'kitchen' %}active{% endif %}">
      <a class="nav-link" href="{% url 'kitchen' %}">Kitchen</a>
    </li>
    <li class="nav-item {% if active_tab == 'bins' %}active{% endif %}">
      <a class="nav-link" href="{% url 'bins' %}">Bins</a>
    </li>
    <li class="nav-item {% if active_tab == 'general' %}active{% endif %}">
      <a class="nav-link" href="{% url 'general' %}">General</a>
    </li>
  </ul>
</div>

{% block material %}
{% endblock %}

{% else %}
You are not able to do this. Please <a href="{% url 'account_login' %}">Login</a>


{% endif %}
{% endblock %}