{% extends 'household_base.html' %}

{% block material %}

<div class="m-4">
  <div class="d-flex flex-md-row flex-column m-2">
    <div class="col-sm-12 col-md-7">
      <p class="text-center"></p>
      <h4>Laundry Tasks</h4>

      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          {{ todo_form.as_p }}
          <input type="submit" name="todo_submit" value="Add" class="btn btn-secondary mb-4">
        </form>
      </div>

      {% if queryset %}
      <ul class="list-group">
        {% for task in queryset %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span> {{task.description }}</span>
            <div class="d-flex justify-content-end">
              <a class="px-2" href="{% url 'delete_task' task.pk %}">Delete</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      {% else %}
      <p class="mt-3">You haven't added any tasks yet...</p>
      {% endif %}
    </div>

    <div class="col-sm-12 col-md-5 m-3">
      <p class="text-center"></p>

      <h4 class="mt-4">Have you thought about...</h4>
      <div class="form-group">

        <ul class="list-group m-4">
          <li class="list-group-item">Bedsheets</li>
          <li class="list-group-item">Bath Towels</li>
          <li class="list-group-item">Tea Towels</li>
          <li class="list-group-item">Kids school uniforms/PE kits</li>

        </ul>
      </div>

    </div>
  </div>

  {% endblock %}