/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #B0D8EB;
}
*/
.wrapper {
    margin-top: 10%;
}

.wrapper h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    justify-content: center;

}

.team .team_member {
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #000;
    position: relative;
}

.team .team_member h3 {
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.aboutme {
    text-align: auto;
}

.team .team_member p.Github {
    font-size: 12px;
    font-weight: bold;
}

.team .team_member p.LinkedIn {
    font-size: 12px;
    font-weight: bold;
}


      
